{% block fgms_special_offers_discount_widget %}
<div class="discount-widget">
	<select name="{{full_name|escape('html_attr')}}[type]" class="form-control">
		<option value="$">{{cents_label}}</option>
		<option value="%" {% if value.type|default('') == '%' %}selected{% endif %}>% Discount</option>
	</select>
	take
	<input type="text" id="{{id|escape('html_attr')}}" name="{{full_name|escape('html_attr')}}[value]" value="{{value.value|default('')}}" class="form-control" required>
	off
</div>
{% endblock %}